<!DOCTYPE html>
<html lang="en">
        <head>
                <meta charset="UTF-8">
                <meta name='viewport'content="witdh=device-width,initial-schale=1,shrink-to-fit=no">
                <title>Movie Series</title>
                <link rel="stylesheet" href="boostrap.min.css">
                <link rel="stylesheet" href="boostrap-grid.min.css">


        </head>
        <body>


                <h1> Films and Shows</h1>
                <form  method="POST">

                        {% csrf_token %}

                        <table id="tab1">

                                {% for posts in posts %}

                                <tr>
                                        <input type="checkbox" name="shows"value="{{posts.posts}}" >{{posts.shows}}<br>
                                </tr>
                                {% endfor %}
                        </table>



                        <input id="but1" type="submit" value="Show" />

                </form>
        </body>
</html>


